*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background: #fe9a99;
  }

  header {
    position: relative;
  }
  
  nav {
    background: #fe9a99;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 60px;
  }
  .logo {
    flex: 1;
    margin-left: 40px;
  }
  
  .logo h1 {
    letter-spacing: 2px;
    font-size: 30px;
  }
  
  .main {
    background: #fe9a99;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
  }
  
  .main-left {
    height: 100%;
    width: 50%;
  }
  .main-right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .img-v {
    height: 30vw;
    width: 30vw;
  }
  
  .main-right p {
    font-size: 30px;
    padding-top: 20px;
  }
  
  .text {
    margin-left: 18%;
    padding-top: 32%;
  }
  
  .text span {
    font-size: 7vw;
    letter-spacing: 25px;
    font-weight: bold;
  }
  
  .text p {
    padding-top: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
  }
  h1, h2{
    text-align: center;
    font-size: 40px;
    position: relative;
    margin: 2rem auto;
    color: #fff;
  }
  h2{
    font-size: 28px;
  }

  .selectbox{
    background-color: #a87575;
    display: block;
    width: 80%;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
    max-width: 600px;
  }
  .selectbox option{
    text-align: center
  }

  
h1:after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
  height: 4px;
  background: linear-gradient(90deg, #00f, #fd9d12, #ed1230, #0080aa);

}
.global-cases, .country-cases{
  padding: 1rem;
  max-width: 900px;
  margin: auto;
}
.country-container{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  max-width: 1400px;
  margin: auto;
}
.country-container>div{
  margin: .5rem;
  width: calc(50% - 1rem);
  min-width: 380px;
}
canvas{
  background: rgb(148, 122, 122);
  border-radius: 15px;
  box-shadow: 0 0 10px #222;
}
.country-container div:first-child canvas{
  background: #babd0a;
}
.country-container div:nth-of-type(2) canvas{
  background: #5db45c;
}
.country-container div:last-child canvas{
  background: rgb(206, 39, 39);
}

.container {
  padding: 40px 200px ;
 }

 .animatediv{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
 }
 
 .faq-drawer {
   margin-bottom: 30px;
   color:white;
 }
 
 .faq-drawer__content-wrapper {
   font-size: 1.25em;
   line-height: 1.4em;
   max-height: 0px;
   overflow: hidden;
   transition: 0.25s ease-in-out;
 }
 
 .faq-drawer__title {
   border-top: #000 1px solid;
   cursor: pointer;
   display: block;
   font-size: 1.25em;
   font-weight: 700;
   padding: 30px 0 0 0;
   position: relative;
   margin-bottom: 0;
   transition: all 0.25s ease-out;
 }
 
 .faq-drawer__title::after {
   border-style: solid;
   border-width: 1px 1px 0 0;
   content: " ";
   display: inline-block;
   height: 10px;
   left: 2px;
   position: relative;
   right: 20px;
   top: 2px;
   transform: rotate(135deg);
   transition: 0.35s ease-in-out;
   vertical-align: top;
   width: 10px;
 }
 
 /* OPTIONAL HOVER STATE */
 .faq-drawer__title:hover { 
   color: black;  ;
 }
 
 .faq-drawer__trigger:checked
   + .faq-drawer__title
   + .faq-drawer__content-wrapper {
   max-height: 350px;
 }
 
 .faq-drawer__trigger:checked + .faq-drawer__title::after {
   transform: rotate(-45deg);
   transition: 0.25s ease-in-out;
 }
 
 input[type="checkbox"] {
   display: none;
 }
 
 @media only screen and (max-width: 600px) {
   .container {
     padding: 80px;
   }
 }

 footer {
  padding-top: 20px;
  margin-bottom: 2%;
  height: 80px;
	text-align: center;
	background-color: #fe9a99;
	color: white;
  font-size: 18px;
}
.table{
  width: 100%;
  border-spacing: 25px;
  display: inline;
  padding:40px;
}

tr{
  
}

b{
  color: rgb(133, 29, 29);
}

iframe{
  
  width: 100%;
  height: 600px;
}

  
